/bookshop-auth-micro/gradle/wrapper/gradle-wrapper.jar
/bookshop-sale-micro/gradle/wrapper/gradle-wrapper.jar
/api-gatway/gradle/wrapper/gradle-wrapper.jar
/eureka-server/gradle/wrapper/gradle-wrapper.jar